header {
	background: url(../../images/bg-header.jpg) no-repeat center;
	background-size: cover;
}

.top-header {
	background-color: rgba(73, 71, 63, .6);
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 25px;
}

.header h1 a {
	font-family: "font-Regular";
	color: #fff;
	text-transform: none;
	font-size: 32px;
	display: flex;
	align-items: center;
}

.header h1 a img {
	margin-right: 10px;
}

.header h1 a span {
	font-family: 'font-ExtraBold';
	color: #18cfab;
}

.header nav {
	display: flex;
	align-items: center;
}

.header ul {
	display: flex;
	list-style: none;
}

.header ul  li {
	margin-left: 15px;
}

.header ul a {
	transition: .5s;
	letter-spacing: 0px;
}

.header ul a:hover {
	color: #18cfab;
	letter-spacing: 2px;
}

.header ul .search {
	width: 22px;
   height: 22px;
   background-position: -5px -5px;
}

/* header info */

.header-info {
	text-align: center;
	padding-top: 20.9%;
	padding-bottom: 23%;
}

.header-info h2, .header-info h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 2.2em;
	font-family: 'font-ExtraBold';
}

.header-info h2 span {
	color: #18cfab;
}

.header-info h3:first-of-type {
	font-size: 4.95em;
	margin-top: 45px;
	margin-bottom: 35px;
}

.header-info h3:last-of-type {
	font-size: 2.12em;
	font-family: 'font-Light';
}

.header-info a {
	width: 166px;
	height: 61px;
	background-color: #18cfab;
	display: inline-block;
	color: #fff;
	line-height: 61px;
	font-size: 13px;
	font-family: 'font-ExtraBold';
	border-radius: 5px;
	border-top: solid 6px #fff;
	margin-top: 11.96%;
}

.header-info a:first-of-type {
	margin-right: 15px;
}

.header-info a:last-of-type {
	margin-left: 15px;
	background-color: #00cbf6;
}